a {
  color: #00B7FF;
}

section {
  min-height:430px;
  padding: 60px 0;
}

.jumbotron {
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 3em;
  margin-bottom:20px;
}

.picture {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('./images/hiking.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.form-inline .form-group {
  margin-right: 5px;
}

.center-div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.form-control-lg {
  padding: 22px 19px;
  font-size: 22px;
  font-weight: 100;
}

.night {
  background: #3B3B3B;
  color: white;
}

.less-padding {
   
}


.col-input-left {
  padding-right: 3px;
}
.col-input-right {
  padding-left: 3px;
}
.col-input-center {
  padding-right: 3px;
  padding-left: 3px;
}

.input-left {
  padding-right: 5px;
}

.input-right {
  padding-left: 0px;
}

#map {
  width:100%;
  height:300px;
}

.large {
  font-size: 150%;
}

.barrier {
  height:90%;
  border: 1px solid #eee;
}

hr.dark {
  border: 1px solid #353839
}

.alert {
  position: fixed;
  width: 100%;
  top: 15px;
}
